<h1>Tutuer</h1>
<h3>Just get your tutu here</h3>
<%= link_to 'Станции', railway_stations_path %>
<div></div>
<%= link_to 'Поезда', trains_path %>
<div></div>
<%= link_to 'Маршруты', routes_path %>
<div></div>
<%= link_to 'Билеты', tickets_path %>
<div></div>
<%= link_to 'Пользователи', users_path %>
<div></div>
<%= link_to 'Поиск билета', search_path %>
<div></div>