<h1><%= t('.routes') %></h1>

<table class="table table-striped" >
  <thead>
    <tr>
      <th><%= t('.name') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <%= render @routes %>
  </tbody>
</table>

<br>

<%= link_to t('admin.routes.new.name'), new_admin_route_path %>
<div></div>
<%= link_to t('admin.panels.index'), admin_panels_path %>