<p>
  <strong><%= t('admin.routes.show.name') %>:</strong>
  <%= @route.name %>
</p>

<p>
<table>
  <tbody>
  <tr>
    <td><%= t('admin.routes.show.route_trains') %></td>
  </tr>
  <% if @route.trains.empty? %>
      <tr>
        <td><%= t('admin.routes.show.no_trains') %></td>
      </tr>
  <% else %>
      <% @route.trains.each do |train| %>
          <tr>
            <td><%= train.number %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
</p>

<p>
  <strong><%= t('admin.railway_stations.index.railway_stations') %>:</strong>
  <% if @route.railway_stations.empty? %>
      <%= t('admin.routes.show.no_stations') %>
  <% else %>
    <table>
      <thead>
      <tr>
        <td width="150px"><%= t('admin.railway_stations.show.title') %></td>
        <td><%= t('admin.routes.show.position') %></td>
        <td><%= t('admin.routes.show.arrival') %></td>
        <td><%= t('admin.routes.show.departure') %></td>
      </tr>
      </thead>
      <tbody>
      <% @route.railway_stations.ordered.each do |station| %>
          <tr>
            <td><%= station.title %> </td>
            <td>
              <%= form_tag update_position_admin_railway_station_path(station), method: :patch do %>
                  <%= number_field_tag :position, station.position_in(@route) %>
                  <%= hidden_field_tag :route_id, @route.id %>
                  <%= submit_tag t('common.change') %>
              <% end %>
            </td>

            <td>
              <%= form_tag update_arrive_admin_railway_station_path(station), method: :patch do %>
                  <%= datetime_field_tag :arrive, station.arrive_at(@route).strftime("%H:%M") %>
                  <%= hidden_field_tag :route_id, @route.id %>
                  <%= submit_tag t('common.change') %>
              <% end %>
            </td>

            <td>
              <%= form_tag update_departure_admin_railway_station_path(station), method: :patch do %>
                  <%= datetime_field_tag :departure, station.departure_at(@route).strftime("%H:%M") %>
                  <%= hidden_field_tag :route_id, @route.id %>
                  <%= submit_tag t('common.change') %>
              <% end %>
            </td>
          </tr>

      <% end %>
<% end %>
</tbody>
</table>

</p>


<%= link_to t('common.edit'), edit_admin_route_path(@route) %>
<div></div>
<%= link_to t('common.back'), admin_routes_path %>
