<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @train.number %>
  <div></div>
  <strong>Маршрут:</strong>
  <% if @train.route %>
    <%= @train.route.name %>
  <% else %>
    Маршрут не назначен
  <% end %>
  <div></div>
  <strong>Плацкартных вагонов:</strong>
  <% platzkart = @train.wagons.map { |w| w if w.wagon_kind == 'Плацкарт' }.compact %>
  <%= platzkart.size %>
  <div></div>
  <strong>Купейных вагонов:</strong>
  <% kupe = @train.wagons.map { |w| w if w.wagon_kind == 'Купе' }.compact %>
  <%= kupe.size %>
  <div></div>
  <strong>Места:</strong>
  <div></div>
  купе верхние / нижние :
  <%= kupe.map { |w| w.upper_places }.sum %> /
  <%= kupe.map { |w| w.lower_places }.sum %>
  <div></div>
  плацкарт верхние / нижние :
  <%= platzkart.map { |w| w.upper_places }.sum %> /
  <%= platzkart.map { |w| w.lower_places }.sum %>

</p>

<%= link_to 'Редактировать', edit_train_path(@train) %> |
<%= link_to 'Назад', trains_path %>
