<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @train.number %>
  <div></div>
  <strong>Маршрут:</strong>
  <% if @train.route %>
    <%= @train.route.name %>
  <% else %>
    Маршрут не назначен
  <% end %>
  <div></div>
  <strong>Плацкартных вагонов:</strong>
  <%= @train.wagons_logic('Плацкарт')[:size] %>
  <div></div>
  <strong>Купейных вагонов:</strong>
  <%= @train.wagons_logic('Купе')[:size] %>
  <div></div>
  <strong>Места:</strong>
  <div></div>
  купе верхние / нижние :
  <%= @train.wagons_logic('Купе')[:upper] %> /
  <%= @train.wagons_logic('Купе')[:lower] %>
  <div></div>
  плацкарт верхние / нижние :
  <%= @train.wagons_logic('Плацкарт')[:upper] %> /
  <%= @train.wagons_logic('Плацкарт')[:lower] %>

</p>

<%= link_to 'Редактировать', edit_train_path(@train) %> |
<%= link_to 'Назад', trains_path %>
