<p id="notice"><%= notice %></p>

<h1>Билеты</h1>

<table>
  <tbody>
  <tr>
    <td>Начальная станция</td><td>Конечная станция</td>
  </tr>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.source %></td><td><%= ticket.destination %></td>
        <td><%= link_to 'Показать', ticket %></td>
        <td><%= link_to 'Редактировать', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Удалить', ticket, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый билет', new_ticket_path %>
<div></div>
<%= link_to 'Главное меню', root_path %>