Поезд №: <%= @ticket.train.number %>
  <div></div>
<%= @ticket.source.title %> - <%= @ticket.destination.title %>
<div></div>
ФИО пассажира: <%= @ticket.passenger_fio %>
<div></div>
Паспорт: <%= @ticket.passport_data %>
<p></p>

<%= link_to 'Редактировать', edit_admin_ticket_path(@ticket) %> |
<%= link_to 'Назад', admin_tickets_path %>

