<%= form_for(wagon.becomes(Wagon)) do |f| %>
    <%= render 'common/errors', resource: wagon %>

    <div class="field">
      <%= f.label :number %>
      <%= f.text_field :number %>
    </div>

    <div class="field">
      <%= f.label :wagon_type %>
      <%= f.select :type, %w(Coupe Platzkart Comfort Sitting) %>
    </div>

    <div class="field">
      <%= f.label :upper_places %>
      <%= f.number_field :upper_places %>
    </div>

    <div class="field">
      <%= f.label :lower_places %>
      <%= f.number_field :lower_places %>
    </div>

    <div class="field">
      <%= f.label :side_upper_places %>
      <%= f.number_field :side_upper_places %>
    </div>

    <div class="field">
      <%= f.label :side_lower_places %>
      <%= f.number_field :side_lower_places %>
    </div>

    <div class="field">
      <%= f.label :seats %>
      <%= f.number_field :seats %>
    </div>

    <div class="field">
      <%= f.label :train %>
      <%= f.collection_select :train_id, Train.all, :id, :number %>
    </div>

    <div class="actions">
      <%= f.submit "#{wagon.new_record? ? 'Создать' : 'Изменить'}" %>
    </div>
<% end %>
