<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @route.name %>
</p>

<p>
<table>
  <tbody>
  <tr>
    <td>Поезда на маршруте:</td>
  </tr>
  <% if @route.trains.empty? %>
      <tr>
        <td>Поездов нет</td>
      </tr>
  <% else %>
      <% @route.trains.each do |train| %>
          <tr>
            <td> <%= train.id %></td>
            <td><%= train.number %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>

<table>
  <tbody>
  <tr>
    <td>Станции:</td>
  </tr>
  <% if @route.railway_stations.empty? %>
      <tr>
        <td>Cтанций в маршруте нет</td>
      </tr>
  <% else %>
      <% @route.railway_stations_routes.sorted.each do |station| %>
          <tr>
            <td> <%= station.railway_station.position(@route) %> </td>
            <td> <%= station.railway_station.title %> </td>
          </tr>
      <% end %>
  <% end %>

  </tbody>
</table>

<%= link_to 'Редактировать', edit_route_path(@route) %> |
<%= link_to 'Назад', routes_path %>
