<p>
  <strong>Имя:</strong>
  <%= @user.name %>
</p>

<table>
  <thead>
  <tr>
    <td>Билеты:</td>
  </tr>
  <% @user.tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.id %></td>
    <td><%= ticket.source.title %></td>
    <td><%= ticket.destination.title %></td>
  </tr>
  <% end %>
  </thead>

</table>

<%= link_to 'Редактировать', edit_admin_user_path(@user) %> |
<%= link_to 'Назад', admin_users_path %>
