<h1><%= t('admin.panels.index') %></h1>
<div></div>
<%= link_to t('admin.panels.stations'), admin_railway_stations_path %>
<div></div>
<%= link_to t('admin.panels.trains'), admin_trains_path %>
<div></div>
<%= link_to t('admin.panels.routes'), admin_routes_path %>
<div></div>
<%= link_to t('admin.panels.users'), admin_users_path %>
<div></div>
<%= link_to t('admin.panels.tickets'), admin_tickets_path %>
