
<strong>Вагон №: <%= @wagon.number %></strong>
<div></div>
<strong>Поезд: <%= @wagon.train.number %></strong>
<div></div>
<strong>Места:</strong>
<div></div>
Верхние: <%= @wagon.upper_places %>
<div></div>
Нижние: <%= @wagon.lower_places %>
<div></div>
Верхние боковые: <%= @wagon.side_upper_places %>
<div></div>
Нижние боковые: <%= @wagon.side_lower_places %>
<div></div>

<%= link_to 'Назад', @wagon.train %>

