<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @wagon.number %>
<div></div>
<strong>Тип:</strong>
<%= @wagon.type %>
<div></div>
<strong>Места:</strong>
<%= render @wagon.type.underscore %>
</p>

<%= link_to 'Редактировать', edit_admin_wagon_path(@wagon) %> |
<%= link_to 'Назад', admin_train_path %>
<div></div>