<!DOCTYPE html>
<html>
  <head>
    <title>Tutuer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
    <%= yield %>
    <p></p>
    <div>______________________________________________________________</div>
    &#9426 2017 Максим Мельников. Учебный проект в <%= link_to 'онлайн-школе Thinknetica', 'http://www.thinknetica.com' %>
  </body>
</html>
