<!DOCTYPE html>
<html>
<head>
  <title>Tutuer</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
</head>

<body>

<% if user_signed_in? %>
    Привет, <%= current_user.user_firstname %>
    <%= current_user.user_family %> !
    <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
<% else %>
    <%= link_to 'Войти', new_user_session_path %>
<% end %>
<%= yield %>
<p></p>
<%= render 'layouts/footer' %>
</body>
</html>
